@media screen and (max-width: 1670px) {

  .windows10 {
    width: 700px;
    height: 400px;
    background-size: 700px;
  }

  .windows11 {
    width: 700px;
    height: 400px;
    background-size: 910px;
    background-position-x: -150px ;
  }

  .w10 {
    font-size: 330px;
  }

  .w11 {
    font-size: 330px;
  }

}

@media screen and (max-width: 1500px) {

  .windows10 {
    width: 550px;
    height: 350px;
    background-size: 600px;
    padding-top: 15px;
  }

  .windows11 {
    width: 550px;
    height: 350px;
    background-size: 790px;
    background-position-x: -175px;
    padding-top: 15px;
  }

  .w10 {
    font-size: 250px;
  }

  .w11 {
    font-size: 250px;
  }
  
}

@media screen and (max-width: 1150px) {

  .windows10 {
    width: 400px;
    height: 300px;
    background-size: 525px;
    background-position-x: -65px;
    padding-top: 35px;
  }

  .windows11 {
    width: 400px;
    height: 300px;
    background-size: 790px;
    background-position-x: -325px;
    padding-top: 35px;
  }

  .w10 {
    font-size: 170px;
  }

  .w11 {
    font-size: 170px;
  }

}